<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.container pageTitle="{f:translate(key: 'pagetitle')}" includeRequireJsModules="{0:'TYPO3/CMS/NsFeedback/Main'}">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Vendor/bootstrap4.3.1.min.css', extensionName: 'ns_basetheme')}" media="all">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/Module/global.css', extensionName: 'ns_basetheme')}" media="all">
	<link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Css/Module/main.css', extensionName: 'ns_basetheme')}" media="all">
	
	<div class="typo3-fullDoc">
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" style="padding: 24px;margin-top: 0;transition: border .2s ease;">
				<div class="ns-ext-navigation-wrap">
					<a class="navbar-brand ns-ext-name ns-ext-name-desktop" href="javascript:;"><f:translate key="mirgration_module.title" extensionName="ns_t3dev" /></a>
                </div>
				<f:be.menus.actionMenu>
					<f:be.menus.actionMenuItem label="{f:translate(key: 'migrate.actionMenu.1')}" controller="ProductArea" action="dashboard" />
					<f:be.menus.actionMenuItem label="{f:translate(key: 'migrate.actionMenu.2')}" action="specificGridMigrate" controller="ProductArea" />
				</f:be.menus.actionMenu>
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>
</html>
