<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="!{validationResults.flattenedErrors}">
      <f:flashMessages />
    </f:if>
    <div class="container">
        <f:link.action action="new">New ProductArea</f:link.action>

        <h1>Listing for ProductArea</h1>
        <f:flashMessages />
        <div class="d-flex justify-content-center">
            <div class="spinner-border product-loader mb-5 mt-5 d-none" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="product-items">
            <f:for each="{pagination.paginator.paginatedItems}" as="product" iteration="iterator">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <f:if condition="{product.image}">
                                <f:image image="{product.image}" class="img-fluid rounded-start" alt="image" /> 
                            </f:if>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{product.name}</h5>
                                <p class="card-text">
                                    <f:format.html>{product.description -> f:format.crop(maxCharacters: 100)}</f:format.html>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
        <f:render partial="ProductArea/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, actionName: 'list'}" />
    </div>
</f:section>
</html>
