<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div class="ns-ext-dashboard-wrap">	
		<br/><br/>	        
        <f:if condition="{grid}==''">			
			<f:then>
                <f:be.infobox title="{f:translate(key: 'migrate.notFind')}" state="-1"></f:be.infobox>
				<f:comment>	<div class="alert alert-danger" role="alert">
					<h4 class="alert-heading"><f:translate key="{f:if(condition: '!{notFind}', then: 'migrate.notFind', else: 'migrate.notFindCType')}" extensionName="ns_t3dev" /></h4>
				</div></f:comment>
			</f:then>
            <f:else>
                <f:form action="processMirgrate" name="migrategeneral" method="POST">
                    <div class="typo3-TCEforms">
                        <div class="tab-content">
                            <f:for each="{gridelementsElements}" as="element">
                                <fieldset class="form-section">
                                    <div class="form-group">
                                        <f:form.checkbox id="layout-{element.tx_gridelements_backend_layout}" property="elements.{element.tx_gridelements_backend_layout}.active" value="1" />
                                        <label for="layout-{element.tx_gridelements_backend_layout}">{f:translate(key: 'migrate.analyse.grid.label')} {element.tx_gridelements_backend_layout}</label>
                                    </div>
                                   <f:comment>
                                        <strong>{f:translate(key: 'migrate.analyse.grid.siteid.label')}</strong> {element.pid}<br>
                                        <f:for each="{layoutColumns}" as="columns" key="backendLayoutName">
                                            <f:if condition="{backendLayoutName} == {element.tx_gridelements_backend_layout}">
                                                <f:for each="{columns}" as="column" key="columnId">
                                                    <div>
                                                        <strong>{f:translate(key: 'migrate.all.columns')}</strong> {columnId}<br>
                                                        <div class="form-group col-md-6">
                                                            <label for="columnid-{backendLayoutName}-{columnId}">{f:translate(key: 'migrate.newcolumn')} </label>
                                                            <f:form.textfield class="form-control js-columnId" additionalAttributes="{data-checkbox: 'sameCid-{backendLayoutName}-{columnId}'}" id="columnid-{backendLayoutName}-{columnId}" property="elements.{backendLayoutName}.columns.{columnId}.columnid" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <f:form.checkbox id="sameCid-{backendLayoutName}-{columnId}" property="elements.{backendLayoutName}.columns.{columnId}.sameCid" value="{columnId}" checked="1" />
                                                            <label for="sameCid-{backendLayoutName}-{columnId}">{f:translate(key: 'migrate.samecolumn')}</label>
                                                        </div>
                                                    </div>
                                            </f:for>
                                            </f:if>
                                        </f:for>
                                    </f:comment>
                                        <div class="form-group">
                                            <label for="container-name-{element.tx_gridelements_backend_layout}">{f:translate(key: 'migrate.newcontainerid')}</label>
                                            <f:form.textfield class="form-control" id="container-name-{element.tx_gridelements_backend_layout}" property="elements.{element.tx_gridelements_backend_layout}.containername"/>
                                        </div>
                                </fieldset>
                            </f:for>
                        </div>
                    </div>
                    <br>
                    <br>
                    <f:form.submit  class="btn btn-primary" value="{f:translate(key: 'migrate.submit.migrate')}" />
                </f:form>            
            </f:else>
		</f:if>
	</div>
</f:section>

</html>
