<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div class="ns-ext-dashboard-wrap">	
		<br/><br/>	
		<f:if condition="{extension}">			
			<f:then>
				<div class="alert alert-info" role="alert">
					<h4 class="alert-heading"><f:translate key="migrate.note" extensionName="ns_t3dev" /></h4>
					<ul class="navbar-nav">
						<li class="nav-item {f:if(condition: '{action}==dashboard', then: 'active')}">
							<f:link.action action="executeMigration" class="nav-link"><f:translate key="migrate.yes" extensionName="ns_t3dev" /></f:link.action>
							<f:link.action action="dashboard" class="nav-link"><f:translate key="migrate.no" extensionName="ns_t3dev" /></f:link.action>
						</li>
					</ul>
				</div>
			</f:then>
			<f:else>
				<f:be.infobox title="{f:translate(key: 'migrate.notFind')}" state="-1"></f:be.infobox>
				<f:comment>	<div class="alert alert-danger" role="alert">
					<h4 class="alert-heading"><f:translate key="{f:if(condition: '!{notFind}', then: 'migrate.notFind', else: 'migrate.notFindCType')}" extensionName="ns_t3dev" /></h4>
				</div></f:comment>
			</f:else>
		</f:if>
	</div>
</f:section>

</html>
